include LICENSE
recursive-include src/pynetboot/resources/bootloader *
recursive-include src/pynetboot/resources/icons *
recursive-include src/pynetboot/resources/logos *
recursive-include src/pynetboot/resources/translations *.ts
